/* ======== MOBILE ======== */
@media only screen and (max-width: 739px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin: 0 auto;
        flex: 0 0 60%;
        max-width: 60%;
        margin-top: 48px;
    }

    h3 {
        display: none;
    }

    h4 {
        display: block;
        text-align: center;
        color: rgba(255,255,255,0.71);
        font-family: 'Inter', sans-serif;
        letter-spacing: 0.025rem;
        width: calc(100% + 0.025rem);
        font-size: 1em;
        line-height: 1.875;
        font-weight: 400;
    }
}

/* ======== TABLET ======== */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    
}

/* ======== PC ======== */
